@model IEnumerable<Depozyto.Models.HistoryModel>
@{
    ViewData["Title"] = "Dashboard";
}
<html>
<body>
    <div class="container">
        <div>
            

        <div>
            <h3>Konta</h3>




        </div>
        <div>
            <h3>Historia ostatnich tranzakcji</h3>
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            <p>ID nadawcy</p>
                        </th>
                        <th>
                            <p>ID adresata</p>
                        </th>
                        <th>
                            <p>Kwota w walucie wybranego konta</p>
                        </th>
                        <th>
                            <p>Tytuł</p>
                        </th>
                        <th>
                            <p>Data</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @item.FromEmail
                            </td>
                            <td>
                                @item.ToEmail
                            </td>
                            <td>
                                @item.Amount
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Date
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    
    </div>
</body>
</html>

<style>
    .account{
    }
    .Wallet{
        position: absolute;
        top: 300px;
        left: 800px;
        color:white;
        box-shadow: 3px 4px #DCDCDC;
    }
    .table-wallet{
        background-color: rgba(128, 128, 128, 0.3);
        color:white;
    }
    .history{
        position: absolute;
        top: 500px;
        left: 800px;
        color: white;
        box-shadow: 3px 4px #DCDCDC;
    }
</style>
	
